<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->

{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/stylehome.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
        <title>Portfólio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>

    <header class="p-5 text-light">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <!-- Título -->
                <h1 class="fs-1 mb-0">Ryan Nascimento</h1>
                
                <!-- Contêiner para o botão dropdown e navegação -->
                <div class="d-flex align-items-center">
                    <!-- Botão Dropdown visível apenas em telas pequenas -->
                    <div class="d-block d-md-none">
                        <a class="btn btn-outline-light btn-lg mx-2 rounded-0 dropdown-toggle" style="--bs-btn-padding-y: 0.5rem; --bs-btn-padding-x: 1.2rem; --bs-btn-font-size: 1.5rem;" href="#" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Veja mais</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item text-center text-md-start fs-4" href="#">Sobre mim</a></li>
                            <li><a class="dropdown-item text-center text-md-start fs-4" href="#">Serviços</a></li>
                            <li><a class="dropdown-item text-center text-md-start fs-4" href="#">Contato</a></li>
                        </ul>
                    </div>

                    <!-- Navegação visível apenas em telas médias e maiores -->
                    <nav class="d-none d-md-block ms-3">
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link text-light fs-3" href="#">Sobre mim</a></li>
                            <li class="nav-item"><a class="nav-link text-light fs-3" href="#">Serviços</a></li>
                            <li class="nav-item"><a class="nav-link text-light fs-3" href="#">Contato</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <body>
        <div class="container py-4" style="position: relative; top: 150px;">
            <div class="d-flex flex-row align-items-center">
                <div class="d-flex flex-column text-center me-3">
                    <h1 id = "cordialidade" class="text-light mb-2">Olá, sou Ryan do Nascimento Bezerra</h1>
                    <p class="mb-3">Desenvolvedor Front-End</p>
                    <div class="d-flex flex-row justify-content-center mt-3">
                        <button id="botãobaixar" class="btn btn-success btn-lg rounded-0">Baixar CV</button>
                        <button id="botãolermais" class="btn btn-outline-light btn-lg mx-2 rounded-0">Ler mais</button>
                    </div>
                </div>
                <img id="custom-img-border" src="../static/img/Foto.jfif" class="rounded-circle img-fluid" alt="Minha Foto">
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center" style="position: relative; top: 250px; padding-left: 4.5rem; padding-right: 4.5rem;">
            <div class="text-wrap text-center text-white w-75">
                <div>
                    <h2 id="sobre">Sobre</h2>
                    <p id="apresentação" class="pt-5">Sou estudante universitário de Ciência da Computação com foco principal em front-end, onde crio websites e interfaces para aplicativos móveis. Tenho experiência no desenvolvimento de macros e automações utilizando Python. Além disso, possuo conhecimento em hardware adquirido através de um projeto de inclusão digital. Meu nível de inglês é B2, conforme o Common European Framework of Reference (CEFR).</p>
                </div>
                <div id = "circuloss1" class="d-flex flex-nowrap justify-content-center">
                    <div class="text-center">
                        <svg id = "circulos" width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M62 31C62 48.1208 48.1208 62 31 62C13.8792 62 0 48.1208 0 31C0 13.8792 13.8792 0 31 0C48.1208 0 62 13.8792 62 31Z" fill="#212121"/>
                            <circle cx="31" cy="31" r="6" fill="#27AE60"/>
                        </svg>
                        <p id = "circulosp" class="fw-bold mt-3">LinkedIn</p>
                        <p id = "circulosp" class="text-nowrap">ryan-nascimento-bezerra</p>
                    </div>
        
                    <div class="text-center">
                        <svg id = "circulos" width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M62 31C62 48.1208 48.1208 62 31 62C13.8792 62 0 48.1208 0 31C0 13.8792 13.8792 0 31 0C48.1208 0 62 13.8792 62 31Z" fill="#212121"/>
                            <circle cx="31" cy="31" r="6" fill="#27AE60"/>
                        </svg>
                        <p id = "circulosp" class="fw-bold mt-3">Email</p>
                        <p id = "circulosp" class="text-nowrap">ryandonascimentobezerra@gmail.com</p>
                    </div>
        
                    <div class="text-center">
                        <svg id = "circulos" width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M62 31C62 48.1208 48.1208 62 31 62C13.8792 62 0 48.1208 0 31C0 13.8792 13.8792 0 31 0C48.1208 0 62 13.8792 62 31Z" fill="#212121"/>
                            <circle cx="31" cy="31" r="6" fill="#27AE60"/>
                        </svg>
                        <p id = "circulosp" class="fw-bold mt-3">Github</p>
                        <p id = "circulosp" class="text-nowrap">https://github.com/RyanBezerra</p>
                    </div>
        
                    <div class="text-center2">
                        <svg id = "circulos" width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M62 31C62 48.1208 48.1208 62 31 62C13.8792 62 0 48.1208 0 31C0 13.8792 13.8792 0 31 0C48.1208 0 62 13.8792 62 31Z" fill="#212121"/>
                            <circle cx="31" cy="31" r="6" fill="#27AE60"/>
                        </svg>
                        <p id = "circulosp" class="fw-bold mt-3">Telefone</p>
                        <p id = "circulosp" class="text-nowrap">+55 (83) 99835-6906</p>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
            
        
             
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
    
    
    
    


    <footer>
        
    </footer>

</html>
