/* CSS Global */
html {
    background: #171717 !important;
    font-size: 62.5%;
}
header {
    font-family: 'DM Sans';
    background: #171717 !important;
}
header h1 {
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    color: #FFFFFF;
}
body {
    font-family: 'DM Sans';
    background: #171717 !important;
}
body > div:first-of-type {
    font-family: 'DM Sans';
}
body > div:first-of-type h1 {
    color: #ffffff;
}
body > div:first-of-type p {
    color: #828282;
}
#botãolermais {
    --bs-btn-padding-y: 0.7rem;
    --bs-btn-padding-x: 2.7rem;
    --bs-btn-font-size: 1.5rem;
}
#custom-img-border {
    box-sizing: border-box;
    border: 15px solid rgba(30, 29, 29, 0.2);
    outline: 1px solid #1E1D1D;
}
.w-40 {
    width: 40% !important;
}

@media (max-width: 576px) {
    body > div:first-of-type h1 {
        font-size: 2rem; 
    }
    body > div:first-of-type p {
        font-size: 1rem;
    }
    .btn-lg {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }
    #custom-img-border {
        width: 20rem;
        height: 20rem;
        display: none;
        
    }
    #botãobaixar {
        --bs-btn-padding-y: 0.2rem;
        --bs-btn-padding-x: 1.1rem;
        --bs-btn-font-size: 1.1rem;
    }
    #botãoenviar {
        --bs-btn-padding-y: 0.4rem;
        --bs-btn-padding-x: 1.5rem;
        --bs-btn-font-size: 1.1rem;
    }
    #botãolermais {
        --bs-btn-padding-y: 0.2rem;
        --bs-btn-padding-x: 1.1rem;
        --bs-btn-font-size: 1.1rem;
    }
    #titulo {
        font-size: 3rem;
    }
    #apresentação {
        font-size: 1.2rem;
    }
    #circuloss1 {
        margin-top: 4rem;
        gap: 1rem;
    }
    #circulos {
        max-width: 4rem;
    }
    #circulosp {
        font-size: 0.5rem;
    }
    .responsive-svg {
        width: 100vw; /* Ajusta a largura para telas menores */
    }
    .custom-small-text {
        font-size: 1.5rem;
    }
    #nome{
        margin-left: 4rem;
    }
    #sobrenome{
        margin-left: 4rem;
    }
    #telefone {
        margin-left: 2rem;
    }
    #email {
        margin-left: 2rem;
    }
    #nomesvg {
        margin-top: -4rem;
        margin-left: 4rem;
        width: 80%;
    }
    #sobrenomesvg {
        margin-top: -4rem;
        margin-left: 4rem;
        width: 80%;
    }
    #emailsvg {
        margin-top: -4rem;
        margin-left: 2rem;
        width: 80%;
    }
    #telefonesvg {
        margin-top: -4rem;
        margin-left: 2rem;
        width: 80%;
    }
    #mensagem {
        position: relative; 
        left: 2rem; 
        right: 4.5rem;
        top: 2rem;
    }
    #mensagemsvg{
        padding-left: 1rem; 
        padding-right: 1rem; 
        width: 30rem; 
        height: 10rem; 
        border: 1px solid #4F4F4F; 
        background-color: transparent; 
        resize: none; 
        white-space: pre-wrap; 
        font-size: 1.5rem
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    body > div:first-of-type h1 {
        font-size: 2.2rem; /* Ajuste para telas pequenas a médias */
    }
    body > div:first-of-type p {
        font-size: 1.1rem;
    }
    .btn-lg {
        font-size: 1.2rem;
        padding: 0.6rem 2rem;
    }
    #custom-img-border {
        width: 30rem;
        height: 30rem;
        margin-left: 5rem;
    }
    #botãobaixar {
        --bs-btn-padding-y: 0.5rem;
        --bs-btn-padding-x: 1.5rem;
        --bs-btn-font-size: 1.5rem;
    }
    #botãolermais {
        --bs-btn-padding-y: 0.5rem;
        --bs-btn-padding-x: 1.5rem;
        --bs-btn-font-size: 1.5rem;
    }
    #botãoenviar {
        --bs-btn-padding-y: 0.5rem;
        --bs-btn-padding-x: 1.9rem;
        --bs-btn-font-size: 1.5rem;
    }
    #cordialidade{
        font-size: 2.5rem;
    }
    #titulo {
        font-size: 2.5rem;
    }
    #apresentação {
        font-size: 1.5rem;
    }
    #circuloss1 {
        margin-top: 4rem;
        gap: 3rem;
    }
    #circulos {
        max-width: 5rem;
    }
    #circulosp {
        font-size: 1.2rem;
    }
    .responsive-svg {
        width: 80vw; 
    }
    .custom-small-text {
        font-size: 2rem;
    }
    #nome{
        margin-left: 8rem;
    }
    #sobrenome{
        margin-left: 8rem;
    }
    #telefone {
        margin-left: 2rem;
    }
    #email {
        margin-left: 2rem;
    }
    #nomesvg {
        margin-top: -4rem;
        margin-left: 8rem;
        width: 80%;
    }
    #sobrenomesvg {
        margin-top: -4rem;
        margin-left: 8rem;
        width: 80%;
    }
    #emailsvg {
        margin-top: -4rem;
        margin-left: 2rem;
        width: 80%;
    }
    #telefonesvg {
        margin-top: -4rem;
        margin-left: 2rem;
        width: 80%;
    }
    #mensagem {
        position: relative; 
        left: 2rem; 
        right: 4.5rem;
        top: 2rem;
    }
    #mensagemsvg{
        padding-left: 1rem; 
        padding-right: 1rem; 
        width: 55rem; height: 
        10rem; 
        border: 1px solid #4F4F4F; 
        background-color: transparent; 
        resize: none; 
        white-space: pre-wrap; 
        font-size: 2rem
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    body > div:first-of-type h1 {
        font-size: 5rem; /* Ajuste para telas médias a grandes */
    }
    body > div:first-of-type p {
        font-size: 2.4rem;
    }
    .btn-lg {
        font-size: 3rem;
        padding: 1.4rem 5rem;
    }
    #custom-img-border {
        width: 50rem;
        height: 50rem;
        margin-left: 0rem;
    }
    #botãobaixar {
        --bs-btn-padding-y: 0.7rem;
        --bs-btn-padding-x: 2.5rem;
        --bs-btn-font-size: 1.5rem;
    }
    #titulo {
        font-size: 5rem;
    }
    #apresentação {
        font-size: 1.5rem;
    }
    #circuloss1 {
        margin-top: 8rem;
        gap: 1rem;
    }
    #circulos {
        max-width: 6rem;
    }
    #circulosp {
        font-size: 1.2rem;
    }
    .responsive-svg {
        width: 80vw; /* Ajusta a largura para telas menores */
    }
    #mensagemsvg{
        padding-left: 1rem; 
        padding-right: 1rem; 
        width: 60rem; height: 
        10rem; 
        border: 1px solid #4F4F4F; 
        background-color: transparent; 
        resize: none; 
        white-space: pre-wrap; 
        font-size: 2rem
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    body > div:first-of-type h1 {
        font-size: 5rem; 
    }
    body > div:first-of-type p {
        font-size: 2.4rem;
    }
    .btn-lg {
        font-size: 3rem;
        padding: 1.4rem 5rem;
    }
    #custom-img-border {
        width: 50rem;
        height: 50rem;
        margin-left: 0rem;
    }
    #botãobaixar {
        --bs-btn-padding-y: 0.7rem;
        --bs-btn-padding-x: 2.5rem;
        --bs-btn-font-size: 1.5rem;
    }
    #botãolermais {
        --bs-btn-padding-y: 0.7rem;
        --bs-btn-padding-x: 2.5rem;
        --bs-btn-font-size: 1.5rem;
    }
    #titulo {
        font-size: 4rem;
    }
    #apresentação {
        font-size: 1.5rem;
    }
    #circuloss1 {
        margin-top: 8rem;
        gap: 10rem;
    }
    #circulos {
        max-width: 6rem;
    }
    #circulosp {
        font-size: 1.2rem;
    }
    #cordialidade{
        font-size: 4rem;
        padding-right: 15rem;
    }   
    .custom-small-text {
        font-size: 2rem; 
    }
    .responsive-svg {
        width: 70vw; /* Ajusta a largura para telas menores */
    }
    #nome{
        margin-left: 8rem;
    }
    #sobrenome{
        margin-left: 8rem;
    }
    #telefone {
        margin-left: 2rem;
    }
    #email {
        margin-left: 2rem;
    }
    #nomesvg {
        margin-top: -4rem;
        margin-left: 8rem;
        width: 80%;
    }
    #sobrenomesvg {
        margin-top: -4rem;
        margin-left: 8rem;
        width: 80%;
    }
    #emailsvg {
        margin-top: -4rem;
        margin-left: 2rem;
        width: 80%;
    }
    #telefonesvg {
        margin-top: -4rem;
        margin-left: 2rem;
        width: 80%;
    }
    #mensagem {
        position: relative; 
        left: 1rem; 
        right: 4.5rem;
        top: 2rem;
    }
    #mensagemsvg {
        padding-left: 1rem; 
        padding-right: 1rem;
        width: 75rem; height: 
        12rem; 
        border: 1px solid #4F4F4F; 
        background-color: transparent; 
        resize: none; 
        white-space: pre-wrap; 
        font-size: 2rem
    }
    
}
@media (min-width: 1441px) {
    body > div:first-of-type h1 {
        font-size: 5rem; 
    }
    body > div:first-of-type p {
        font-size: 2.4rem;
    }
    .btn-lg {
        font-size: 3rem;
        padding: 1.4rem 5rem;
    }
    #custom-img-border {
        width: 50rem;
        height: 50rem;
        margin-left: 0rem;
    }
    #botãobaixar {
        --bs-btn-padding-y: 0.7rem;
        --bs-btn-padding-x: 2.5rem;
        --bs-btn-font-size: 1.5rem;
    }
    #botãoenviar {
        --bs-btn-padding-y: 0.7rem;
        --bs-btn-padding-x: 2.5rem;
        --bs-btn-font-size: 1.5rem;
    }
    #botãolermais {
        --bs-btn-padding-y: 0.7rem;
        --bs-btn-padding-x: 2.5rem;
        --bs-btn-font-size: 1.5rem;
    }
    #titulo {
        font-size: 4rem;
    }
    #apresentação {
        font-size: 1.5rem;
    }
    #circuloss1 {
        margin-top: 8rem;
        gap: 20rem;
    }
    #circulos {
        max-width: 6rem;
    }
    #circulosp {
        font-size: 1.2rem;
    }
    #cordialidade{
        font-size: 4rem;
        padding-right: 15rem;
    }  
    .custom-small-text {
        font-size: 2rem; 
    }
    .responsive-svg {
        width: 50vw; 
    }
    #nome{
        margin-left: 8rem;
    }
    #sobrenome{
        margin-left: 8rem;
    }
    #telefone {
        margin-left: 2rem;
    }
    #email {
        margin-left: 2rem;
    }
    #nomesvg {
        margin-top: -4rem;
        margin-left: 8rem;
        width: 80%;
    }
    #sobrenomesvg {
        margin-top: -4rem;
        margin-left: 8rem;
        width: 80%;
    }
    #emailsvg {
        margin-top: -4rem;
        margin-left: 2rem;
        width: 80%;
    }
    #telefonesvg {
        margin-top: -4rem;
        margin-left: 2rem;
        width: 80%;
    }
    #mensagem {
        position: relative; 
        left: 1rem; 
        right: 4.5rem;
        top: 2rem;
    }
    #mensagemsvg {
        padding-left: 1rem; 
        padding-right: 1rem;
        width: 75rem; height: 
        12rem; 
        border: 1px solid #4F4F4F; 
        background-color: transparent; 
        resize: none; 
        white-space: pre-wrap; 
        font-size: 2rem
    }
    
}

